.chart {
    width: 75%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
  
    .chart_types {
      margin-bottom: 20px;
      text-align: center;
  
      button {
        margin-right: 10px;
        padding: 8px 12px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  
    canvas {
      display: block;
      margin: auto;
    }
  }
  